{% extends 'base.html' %}

{% block titulo %} Registrar activo {% endblock%}

{% block contenido %}

<style>
  .card {
    background-color: #f5f5f5;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 0 auto;
    padding: 1px;
  }

  .card-header {
    background-color: #eaeaea;
    border-radius: 2px;
  }

  .card-title {
    margin: 0;
    color: #333;
  }

  .form-container {
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 2px;
    text-align: left;
    margin-bottom: 2px;
  }

  .form-container label {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
  }

  .form-container input[type="text"],
  .form-container select {
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    margin-bottom: 2px;
  }

  .form-wrapper {
    text-align: center;
  }

  .form-wrapper .btn {
    margin-right: 2px;
  }
  /* Estilos para los mensajes de error */
  .messages {
      color: #cc0000;
      background-color: #fdd;
      border: 1px solid #cc0000;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
  }
</style>
<div style="text-align: center;">
  {% if messages %}
  <div class="messages">
      {% for message in messages %}
      <div class="{{ message.tags }}">
          {{ message }}
      </div>
      {% endfor %}
  </div>
  {% endif %}
</div>

<div class="card">
  <div class="card-header">
    <h5 class="card-title">Registrar un activo:</h5>
  </div>
  <div class="card-body">
    <div class="form-wrapper">
      <div class="form-container">
        <form method="post" onsubmit="return confirmSubmit(event)">
          {% csrf_token %}

          <label for="id_estado">Estado:</label>
          {{ form.estado }}

          <label for="id_reparabilidad">Reparabilidad:</label>
          {{ form.reparabilidad }}

          <label for="id_tipo">Tipo:</label>
          {{ form.tipo }}

          <label for="id_modelo">Modelo:</label>
          {{ form.modelo }}

          <label for="id_sn">SN:</label>
          {{ form.sn }}

          <label for="id_fecha_entrada">Fecha de Entrada:</label>
          {{ form.fecha_entrada }}

          <label for="id_fecha_devolucion">Fecha de Devolucion:</label>
          {{ form.fecha_devolucion }}

          <label for="id_usuario">Usuario:</label>
          {{ form.usuario }}

          <label for="id_labplg">Empresa:</label>
          {{ form.labplg}}

          <label for="id_area">Area:</label>
          {{ form.area}}


          <div style="text-align: center; margin-top: 20px;">
            <input class="btn btn-secondary" type="button" value="Volver" onclick="history.back()" />
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
    </div>
    <br>
  </div>
</div>
<script>
  function confirmSubmit(event) {
    event.preventDefault();


    var form = document.querySelector('form');
    var formData = new FormData(form);
    var validForm = form.checkValidity();
    if (!validForm) {
      Swal.fire({
        title: "Error en el formulario",
        text: "Por favor, complete todos los campos requeridos.",
        icon: "error",
        confirmButtonText: "Aceptar"
      });
      return false;
    }

    Swal.fire({
      title: "Estas seguro de que deseas cargar",
      icon: "question",
      showCancelButton: true,
      confirmButtonText: "Si",
      cancelButtonText: "Cancelar",
      reverseButtons: true,
      focusCancel: true
    }).then((result) => {
      if (result.isConfirmed) {
        form.submit();
      }
    });

    return false;
  }
</script>
{% endblock %}
